body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKrvsm3c5095u4OuaDFyT6cXSEHqXcyos5IA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
  
  }
  .aa{
    display: flex;
    justify-content: center;
    border-radius: 59px;
    border-style: solid;
    width: 500px;
    margin-left: 435px;
    margin-top: 28px;
  }
  .zz{
    display: flex;
    justify-content: center;
    margin-top: 239px;

  }
  .ee{
    margin-left: 529px;
    margin-top: 177px;
    flex-direction: column;
    
  }
  .rr{
    display: flex;
    justify-content: center;
  }
.islem{
  margin-left: 76px;
}   
  

.mm{
  margin-left: 92px;
}
.dd{
  margin-left: 92px;
}

